node_modules/
dist/
build/
coverage/
*.js.map
.next/
out/
.vscode/
.idea/
.DS_Store
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/e2e/**
**/tests/**
**/playwright.config.ts
**/jest.config.js
**/vite.config.ts
**/vitest.config.ts
